@model TrufflerSample.Models.SearchResult

@{
    ViewBag.Title = "Paging";
}
<div class="page-header">
    <h1>Paging <small>Basic search listing with paging</small></h1>
    <p>Try an empty search or searching for "restaurant" to get many hits and use the paging control at the bottom of the page.</p>

    @{ Html.RenderPartial("SourceCode"); }

</div>
<div class="row">
    <div class="span14">
    @using (Html.BeginForm())
    {
        @Html.TextBox("q", ViewBag.Query as string)
        <input type="submit" value="Search" />
    }
    </div>
</div>
<div class="row">
    <div class="span10">
        @if (Model != null)
        {
            Html.RenderPartial("SearchHits");
            
            <div class="pagination">
                <ul>

                @for (int page = 1; page <= Model.TotalPages; page++)
                {
                    <li class="@(page == Model.CurrentPage ? "active" : "")">
                        @Html.ActionLink(page.ToString(), "Index", 
                            new 
                                { 
                                    q = Model.SearchTerm, 
                                    p = @page.ToString() 
                                })
                    </li>
                }
                </ul>
            </div>
        }
    </div>
    <div class="span4"></div>
</div>
<script type="text/javascript">
    var hits = @Html.Raw(Json.Encode(ViewBag.Hits)) ;
    var query = @Html.Raw(Json.Encode(ViewBag.Query)) ;
    if(query!=null) {
        EnableTrufflerStats('http://stats.truffler.net/hDP934M6xzvJAga321oVLOMEVTG4uEF2/track/', { q: query , hits: hits});
    }
    
</script>